/* 地図を表示する箱の設定 */
#map {
    height: 70vh;  /* 高さ */
    width: 70%;    /* 横幅 */
    margin: 20px 0; /* 上下に少し隙間を作る */
    border: 2px solid #e67e22; /* ザリガニっぽいオレンジ色の枠 */
    border-radius: 8px; /* 角を少し丸くすると今風！ */
}
